[2016-03-17 18:17] pixelzoom opened #1 "migrate tween wrappers from function-builder"
Migrate OpacityTo and MoveTo from function-builder to twixt.

3/17/16 dev meeting notes:

SR: Since it can be reused, it should be factored out.  Also, there is a bug, the onUpdate option is never used.
JB: I could start making use of these now, and would try to replace the tweens that are currently used in Expression Exchange.
CM will move them over,will likely retrofit into Hooke’s Law too.

[2016-03-17 19:10] pixelzoom commented on #1
https://github.com/phetsims/hookes-law/issues/41 covers using these wrappers in hooks-law.

[2016-03-17 19:11] pixelzoom commented on #1
Migration completed. Assign to @jbphet so he's aware of this and can start using them in Expression Exchange.

[2016-03-17 19:39] pixelzoom opened #2 "repos needs standard github labels"
I tried adding the standard github labels, but failed. See https://github.com/phetsims/phet-info/issues/16.

@mattpen Could you please add labels to this new repository?

[2016-03-18 15:52] mattpen commented on #2
@pixelzoom - The standard labels have been added.  I'll add additional comments in phetsims/phet-info#16.

[2016-03-18 18:45] #2 closed

[2016-09-27 19:13] jbphet commented on #1
I'm now aware of the twixt wrappers, but will likely not be using them in Expression Exchange due to a decision to not use TWEEN-based motion in the model, see https://github.com/phetsims/expression-exchange/issues/39.  Closing.

[2016-09-27 19:13] #1 closed

[2017-02-25 11:00] jonathanolson opened #3 "Animation prototype"
Looking into a prototype for general animation (as noted by https://github.com/phetsims/joist/issues/404).

I've checked in some code that is not refined or final by any means.

Some thoughts/opinions:

1. We'll want to attach animations to Properties (handling numbers/vectors or possibly other things), object properties (like linkAttribute), or handle with callbacks.
2. the `first.blend( second,

[2017-02-27 19:53] jonathanolson commented on #3
@samreid and @pixelzoom, thoughts (lower priority) on the top comment (https://github.com/phetsims/twixt/issues/3#issue-210227781)?

I have a working demo that shows easing handling and damped harmonic animations, and shows that stacking (using 2+ easing animations at a time with deltas) with quadratic in-out has a nice behavior.

[2017-02-27 19:53] jonathanolson commented on #3
(As a clarification, twixt is now a runnable repo for the demo).

[2017-02-28 05:27] samreid commented on #3
Great looking demos!  I am wondering what leads to the off-the-path motion in the easing demo for this case:

![gif](https://cloud.githubusercontent.com/assets/679486/23392870/e4381692-fd3b-11e6-9c5c-be9eb66eb1d5.gif)

[2017-02-28 05:54] samreid commented on #3
I'm not sure why EaseAnimation sometimes returns dt and sometimes returns the overflow ratio.

[2017-02-28 05:56] samreid commented on #3
What is the 2nd arg in a `bind`, for instance: `Easing.polynomialEaseOutValue.bind( easing, n );`?

[2017-02-28 06:03] jonathanolson commented on #3
An old version did that (when I had interrupting animations use current velocity), when did you pull? That's an issue if it's with latest master.

Looks slightly buggy in the code, but the initial point was "return the amount of DT in the step since the animation ended", so if you are chaining animations one after another, you could call `secondAnimation.step( firstAnimationReturnValue )`

It's cu

[2017-02-28 06:19] samreid commented on #3
Should `deltaCallback` be required?

[2017-02-28 06:21] samreid commented on #3
What is your vision for how to generalize this to Vector2 or Vector3 or Color4, etc?  Or a tuple of (Vector2,Color3)?

[2017-02-28 06:21] jonathanolson commented on #3
Will totally depend on what form the final API would take, that's just temporary prototype code.

[2017-02-28 06:22] jonathanolson commented on #3
Here's how the quadratic in-out works on my copy (seems artificially slowed in the gif):

![easing-drag](https://cloud.githubusercontent.com/assets/480878/23393963/88768a84-fd43-11e6-8583-f3318af4dd20.gif)

[2017-02-28 06:23] samreid commented on #3
Sorry for the vague question.  I meant to ask: in the current implementation (or if the final API shapes up similarly to this), is there any functional advantage to having an EaseAnimation with no `deltaCallback`?  If not now, do you envision a usefullness in running tweens that have no callback?

[2017-02-28 06:24] jonathanolson commented on #3
I'd like to support passing in any data type that can be eased (for those, e.g. my comment about `blend()`), or any numeric tuple type for the damping system. It would use the lower-level "animating a single value" building-block to build the animation.

[2017-02-28 06:25] jonathanolson commented on #3
If you pass in a locationProperty or tell it to directly change the opacity of a Node, you probably care less about having a callback for whatever high-level API there is. So at that level, it would not be required.

[2017-02-28 06:27] samreid commented on #3
Perhaps an elegant way to do it would be to create a new class Scalar() which has a blend function so all types can be treated uniformly.  Animator class could automatically wrap {number} in {Scalar}, though we may pay a performance price.

[2017-02-28 06:35] jonathanolson commented on #3
Wrapping numbers may end up happening, but it sounds better for performance than creating objects every frame.

The "easing" animator would just need an interpolation function `f( a, b, ratio )`, while the "damping" animator wants something that acts like a vector space (presumably we would just handle things equivalent to R^n and animation would be component-wise).

[2017-02-28 17:19] samreid commented on #3
This seems like a great direction to go in, the prototype seems promising and it gives us much more control about how things animate.  The next questions I would be asking are about how it would look in the context of a simulation and shaping up the API.  Let me know if you want more specific feedback that what I have already provided.

[2017-03-07 01:20] pixelzoom commented on #3
Highly unlikely that I'll be able to review this before the first week of April.

[2017-03-08 20:33] samreid commented on #3
I can't figure out why EaseAnimation was designed to use deltas instead of calling back with the current value, @jonathanolson can you comment?

[2017-03-08 20:35] jonathanolson commented on #3
This allows multiple animations to run at the same time on one thing, showing the "interpolation" in the quadratic mode (smoothing when destination changes).

[2017-03-08 20:37] samreid commented on #3
That makes perfect sense, thanks!

[2017-03-08 20:43] samreid commented on #3
What do you think about renaming the callback from `delta` to `callback` and providing 2 parameters, the delta and the value, so that clients without concurrent animations can use the current value?  Or should we encourage all easing clients to use deltas so they are more stackable?

[2017-03-08 20:49] samreid commented on #3
Should EaseAnimation also have a callback on completion, or just `Animator` when it exists?

I tried writing CCK zooming with and without EaseAnimation, and decided it adds enough value to continue with it.  So I'd like to finalize the API for this (not sure if Animator necessary for CCK DC milestone).

[2017-03-08 20:51] jonathanolson commented on #3
That level of refactoring sounds premature, as it's (probably) internal code that will get rewritten, and won't correspond to the public API.

[2017-03-08 20:53] samreid commented on #3
Which of the preceding comments was this statement referring to?

[2017-03-08 20:55] jonathanolson commented on #3
We'd want to support completion callbacks in general.

Note comments:
[code]

The code is definitely not ready to be used in simulations.

I'll plan to take a stab at this very soon then, as a more initial prototype.

[2017-03-08 20:58] samreid commented on #3
CCK picked up a EaseAnimation dependency in https://github.com/phetsims/circuit-construction-kit-common/commit/aabbf782b5cfee8d22dcdd0c30ca84d4e5b07a00 because I decided it was preferable to scaling my own easing, but don't feel any obligation to maintain the API or keep CCK working, just keep me in the loop and I'll revise when updates are made.

[2017-04-03 17:31] pixelzoom commented on #3
Demo is presumably http://localhost/~cmalley/GitHub/twixt/twixt_en.html

[2017-04-03 17:45] pixelzoom commented on #3
I took a look through the code and examples.  My feedback is essentially the same as what @samreid said in https://github.com/phetsims/twixt/issues/3#issuecomment-283105194.

[2017-04-03 17:48] pixelzoom commented on #3
I'd also be interested in how this would fit into `Sim.stepSimulation`.

[2018-01-30 23:54] pixelzoom opened #4 "OpacityTo shouldn't modify visibility of target Node"
In Slack developer channel, @jonathanolson said that OpacityTo was the root cause of https://github.com/phetsims/capacitor-lab-basics/issues/228, specifically how it makes the target Node visible on start.  See line 52:

[code]

I don't understand the capacitor-lab-basics issue, or why you would run OpacityTo using an invisible Node.  That said...

OpacityTo is used in these sims:

equality-explor

[2018-01-31 00:01] pixelzoom commented on #4
I adjusted function-builder, and verified that equality-explorer isn't relying on OpacityTo to make the target Node visible.   Before removing line 52 (`node.visible = true`) someone needs to verify that this doesn't cause problems for  capacitor-lab-basics.  Since phetsims/capacitor-lab-basics#228 motivated this issue and is assigned to @jonathanolson, I'm assigning this issue to him to complete.

[2018-01-31 00:02] pixelzoom commented on #4
Labeling as high priority since we should change OpacityTo before addition usages are created that might rely on `node.visible = true`.

[2018-01-31 18:56] pixelzoom commented on #3
Thinking more about this, as the result of an extended Slack conversation on 1/31/18 (which I will not reproduce here)...

What I don't like about the current approach (EaseAnimation, DampedAnimation) is that the client is responsible for calling`step( dt )`.   Since `step` for the model and view is called from Sim.js, that results in a cascade of `step` definitions. For example, consider the case

[2018-01-31 19:51] samreid commented on #3
In my opinion, that gives the most flexibility and control for running animations, and is most consistent with our existing pattern for evolving models or views over time, and compatible with our needs for disposal (no leaks to a registrar).

In that case, you would create the new node and add it to a list (in an appropriate parent), then in the parent's step function, you would call the child's s

[2018-01-31 22:16] jonathanolson commented on #3
I am definitely not using it in a new sim. I've been using Easing (which is marked as stable).

[2018-01-31 22:59] samreid commented on #3
After the above commit, EaseAnimation is no longer used in CCK either.

[2018-02-01 20:06] samreid commented on #3
I updated the comment in https://github.com/phetsims/twixt/issues/3#issuecomment-362050037 to name it as TwixtHandler, pointing out that it could be used as a screen global, or passed in to children for explicit calling in step.

[2018-02-06 17:52] pixelzoom commented on #3
At 2/6/18 dev meeting, @ariel-phet asked me to comment on my "wish list" for animation library.

Features ala Tween:
• Animate attributes values. Handle the transform between the [0,1] values of easing functions and the range of values in the attribute's domain.
• easing (Easing.js already implements this)
• callbacks (onStart, onComplete, onStart)
• ability to stop (aka cancel) animation
• Look t

[2018-02-06 19:05] pixelzoom commented on #3
@jonathanolson and I discuss his current implementation via Zoom.  It's looking very good.  He's going to summarize a few open question for developer meeting.

[2018-02-07 00:32] jonathanolson commented on #3
After discussing with @pixelzoom, we have a few general questions for the development team (tagged for developer meeting, and I've heavily rephrased and added questions):

## How to handle stepping of "view" animations

There are two (not necessarily exclusive) options that may work:

1. Each ScreenView is given an object that tracks active view animations for that screen. When an animation is cre

[2018-02-14 23:32] pixelzoom commented on #3
@jonathanolson can you please add a few notes from last week's (2/8) dev meeting?

[2018-02-15 06:43] jonathanolson commented on #3
Main notes were:

- Won't add a "pause" feature right now.
- I'll add the ability to pass an emitter as the stepper
- I'll investigate node/Scenery integration.
- I'll investigate a base model type (that all main models extend from) that has similar step/reset handling for animations or other common model items (similar to ScreenView).

[2018-04-13 16:18] pixelzoom opened #5 ""wipe" transition for games"
In https://github.com/phetsims/vegas/issues/65#issuecomment-380930042, we identified scenarios where we want to use a "wipe" transition between user-interfaces in games.

@jonathanolson implemented a "swipe" (sic) transition for make-a-ten (see https://github.com/phetsims/make-a-ten/issues/255), and in https://github.com/phetsims/vegas/issues/18#issuecomment-380152353 said:

So that I can use this

[2018-04-13 16:41] pixelzoom opened #6 ""dissolve" transition for games"
In phetsims/vegas#65 (comment), we identified scenarios where we want to use a "dissolved" transition to go from a challenge back to the level-selection screen.    This is used in games with a finite number of challenges per level and a "Start Over" button in the bar at the top of the screen.

Assigning to @jonathanolson to implement, since this is required for Area Model.

[2018-04-13 19:15] phet-steele commented on #5
@pixelzoom area model is failing in CT with:

[code]

[2018-04-13 20:37] pixelzoom commented on #5
Reopening... @jonathanolson suggested that `SlidingScreen` be renamed `Wipe*`.   Sounds good to me, but I really can't spend any more time on this, so assigning to him.

[2018-04-16 16:52] pixelzoom commented on #5
SlidingScreen is now used in Equality Explorer, so please rename there as well.

[2018-04-18 01:43] samreid opened #7 "SlidingScreen should have a dispose function that unlinks"
SlidingScreen links to properties on creation, its dispose function should unlink.

Discovered in https://github.com/phetsims/area-model-common/issues/99

[2018-04-18 01:46] samreid opened #8 "SlidingScreen should have a speed option"
It looks like the speed is currently hard-coded to 2/sec, if I'm understanding this line properly:

[code]

Discovered in https://github.com/phetsims/area-model-common/issues/99

[2018-04-20 03:56] jonathanolson commented on #6
Implemented with Transition/TransitionNode. Assigning @samreid for collaboration/review.

[2018-04-20 03:58] jonathanolson commented on #5
I actually looked up some terminology for "wipe", and it's actually a different type of animation, see https://en.wikipedia.org/wiki/Wipe_(transition).

I implemented slides/wipes/dissolve in Transition/TransitionNode, and added a 4th screen to the TWIXT demo to show how they work.

[2018-04-20 03:59] jonathanolson commented on #5
Assigning @samreid for review/collaboration.

[2018-04-20 04:00] jonathanolson commented on #7
So I hate to do this so quickly, but should be deprecate SlidingScreen in favor of TransitionNode (particularly once it is reviewed/etc.)?

[2018-04-20 04:01] jonathanolson commented on #8
So I hate to do this so quickly, but should be deprecate SlidingScreen in favor of TransitionNode (particularly once it is reviewed/etc.)?

Transition supports providing durations of the animations.

[2018-04-20 23:14] samreid opened #9 "Animation.js chaining failures"
For example:

[code]

Chaining fails when it was not animating.  There are similar problems in `step`.  I haven't checked the other methods.

@jonathanolson OK to add `return this` for chaining in these cases?  Or were they intentionally omitted for a good reason?

[2018-04-21 01:12] jonathanolson commented on #9
Definitely was not intended.

[2018-04-21 13:10] samreid commented on #8
Yep, we should delete SlidingScreen and replace usages with TransitionNode.

[2018-04-21 13:20] samreid opened #10 "Delete SlidingScreen and replace usages with TransitionNode."
From #8 and https://github.com/phetsims/area-model-common/issues/99

SlidingScreen was ported from Make a Ten (though still exists there as a copy), and is used by Equality Explorer.  TransitionNode is more general and flexible, and leverages Animation.js which is our proposed foundation for this kind of behavior.  We should delete SlidingScreen and replace usages with TransitionNode.

Assigning t

[2018-04-23 02:50] samreid opened #11 "Review Transition and TransitionNode"
From https://github.com/phetsims/area-model-common/issues/99, I need to review the new common code Transition and TransitionNode

[2018-04-23 03:00] samreid commented on #11
I've made a few `REVIEW` comment commits in TransitionNode and Transition.  I still have further to go to understand and review these files.

[2018-04-23 03:27] samreid commented on #11
I should also note that Animation.js still has not been reviewed: https://github.com/phetsims/twixt/issues/3

[2018-04-23 03:50] samreid commented on #11
Here are the files that need to be reviewed, and their number of lines of code per file:

[code]

I skimmed through everything and made initial top-level review comments, and asked some questions.  Now that I better understand the scope, I thought it would be good to bring it up to @ariel-phet for discussion and planning.

The reason this is coming up now is that @jonathanolson (wisely) created Tr

[2018-04-23 03:57] samreid commented on #7
We should proceed with #10, I'll unassign myself and put this issue on hold until then.

[2018-04-23 03:58] samreid commented on #6
I created #11 for a more specific review issue.  @jonathanolson can/should we close this one?

[2018-04-23 17:34] jonathanolson commented on #11
It would be good to discuss this situation. The current behavior assumes that it can completely change the transform of what is passed in, so it immediately wipes away the centering that was done. This could be solvable by always wrapping every content node (or having an option to do so).

Thoughts?

[2018-04-24 01:49] jonathanolson commented on #6
Review in https://github.com/phetsims/twixt/issues/11 sounds good. @pixelzoom, is "Use TransitionNode for main game animations" sufficient? Is there anywhere it should be documented?

[2018-04-24 01:57] jonathanolson commented on #9
Should be fixed in the above commit, can you review?

[2018-04-24 03:01] jonathanolson commented on #11
I was thinking that since all of the common implementations would be Node-specific (that I imagined), that I would type it this way. The code Transition type itself could technically use other types. Is that something we want to use someday (so it would be typed as such)?

[2018-04-24 03:06] jonathanolson commented on #11
It is used in Animation itself for chaining animations together. It avoids having to call `step( 0 )` in start() and then `step( dt )` immediately after, which would be wasted effort.

[2018-04-24 03:10] jonathanolson commented on #11
There are 13 different AnimationTarget "options" (will be a config). It seems unclean to mention all of them in Animation's options also?

[2018-04-24 03:11] jonathanolson commented on #11
The Shape.bounds is the reason why we can't just use a "default" blend, since we take two Bounds2 objects and return a Shape. What are you suggesting here?

[2018-04-24 03:12] jonathanolson commented on #11
Responded to all REVIEW notes for twixt, let me know if it would be easier to have a call to discuss.

[2018-04-24 16:08] pixelzoom commented on #6
I'm not clear on what you're asking here.

[2018-04-24 16:36] pixelzoom commented on #6
Yes, seems like this can be closed.

[2018-04-24 16:36] #6 closed

[2018-04-24 16:51] ariel-phet commented on #11
@samreid looks like it is back to you since all REVIEW comments were addressed/responded.

[2018-04-24 19:11] pixelzoom commented on #4
OpacityTo is now used in equality-explorer.  So as I recommend in https://github.com/phetsims/twixt/issues/4#issuecomment-361776968, I'm going to remove `node.visible = true` from OpacityTo, so that I'm not creating more dependencies on this quirk.

This may or may not break capacitor-lab, so it would be good for @jonathanolson to verify with high priority.

[2018-04-24 20:03] jonathanolson commented on #4
Looks good in CLB, thanks!

[2018-04-24 20:03] #4 closed

[2018-04-24 21:45] samreid opened #12 "Is this length computation correct?"
During #11 I noticed this code in Animation.js

[code]

That is, it uses the Animation.length, if specified, otherwise it uses the preferred duration of the first child that has one.  Is this correct?  Should it use the max of all the children with preferred durations?  What if a child has a preferred duration longer than Animation.length?

[2018-04-24 22:13] samreid commented on #12
It seems that only one child can supply a preferred duration, so this should be a non-issue.  @jonathanolson if that's correct, let me know and I'll add a comment to that effect.

[2018-04-24 22:15] samreid opened #13 "Animation emitters have different tenses"
From #11

The emitters are:
[code]

Perhaps we should rename `endedEmitter` => `endEmitter` unless there is a good reason for the inconsistency?

[2018-04-24 22:35] samreid opened #14 "Do we need a way to un-then?"
From #11, animation has a chaining facility:

[code]

I don't see a public API for removing those animations.  Should we add one?  Or advocate for clients to use the `finishEmitter` directly?

[2018-04-25 03:08] samreid commented on #9
Looks good, thanks!

[2018-04-25 03:08] #9 closed

[2018-04-25 03:26] samreid commented on #11
I just made a minor change to indicate Transition is referring to the Animation type and its options.  I think it may be sufficient.

[2018-04-25 03:29] samreid opened #15 "Bounds for Transition/TransitionNode"
https://github.com/phetsims/twixt/issues/11#issuecomment-383658578

I tried changing `createSomething` to:

[code]
And saw unexpected behavior for all the transitions except dissolve. Am I supposed to embed the content in something that has exactly the same bounds as given to the TransitionNode?

[2018-04-25 03:29] samreid commented on #15
@jonathanolson replied:

[2018-04-25 03:31] samreid commented on #15
I didn't understand why the assumption that it could completely change the transform of what is passed in failed for the example in: https://github.com/phetsims/twixt/issues/15#issue-317467128

It should be OK for the TransitionNode to assume it can completely change the location of the HSlider that was passed in, but I didn't understand why it flickered.  Or why the flicker might go away if I wra

[2018-04-25 03:32] samreid commented on #11
Most of the // REVIEW questions were cleared up by @jonathanolson's remarks or by my further exploration of the code.  As far as I know the last part is the discussion in https://github.com/phetsims/twixt/issues/15 which may amount to my misunderstanding of something.  @jonathanolson OK to close this issue?

[2018-05-29 17:31] pixelzoom opened #16 "TransitionNode fails if options.content is not provided"
Noted while working on https://github.com/phetsims/equality-explorer/issues/75.

TransitionNode:

[code]

But `content` is apparently not optional.  If you don't provide it, then your first attempted transition will fail in `startTransition` at line 225:

[code]

[2018-05-29 19:02] pixelzoom opened #17 "TransitionNode performance problem"
TransitionNode currently uses addChild and removeChild, and that can be a performance problem if your Node is complicated.  For example, see See https://github.com/phetsims/equality-explorer/issues/75#issuecomment-392862778.  @jonathanolson is going to investigate a general solution.

[2018-05-29 19:25] #17 closed, assigned to pixelzoom

[2018-05-29 19:28] jonathanolson commented on #15
I'm curious about the flickering, so it would be helpful to see a full example where this is the case (so I could explain what's going on).

[2018-05-29 19:33] pixelzoom commented on #16
Look OK via inspection.  But how did you test this?  Do we need some examples or unit tests?

[2018-05-29 19:33] jonathanolson commented on #16
I manually tested creation, but unit tests would probably be good. I'll add those.

[2018-05-29 19:38] pixelzoom commented on #16
In TransitionNode `startTransition`:

[code]

So it's OK if they are _both_ null?  Why would someone do that?  Or should there be a check in `startTransition` that at least one of them is non-null?

[2018-05-29 19:39] jonathanolson commented on #16
Being able to animate to `null` always sounds like a helpful property. Maybe it would be better to short-circuit a null-to-null transition and not actually animate at all?

[2018-05-29 19:41] pixelzoom commented on #16
I agree that it's useful to animate to null if `fromContent` is defined.   But I don't understand what a null-to-null transition is, or why it's useful.

[2018-05-29 20:11] jonathanolson commented on #15
Implemented a bounds improvement to prevent the "flicker" above.

[2018-05-29 20:11] #15 closed

[2018-06-14 23:44] pixelzoom commented on #10
SlidingScreen is now used in fractions-common only.

[2018-06-14 23:45] pixelzoom commented on #10
SlidingScreen is now used in fractions-common only, where there's an issue for it, https://github.com/phetsims/fractions-common/issues/3.   So closing this issue.

[2018-06-14 23:45] #10 closed

[2018-06-14 23:46] pixelzoom commented on #7
This issue is no longer relevant, since SlidingScreen is deprecated and replaced by TransitionNode (which has a `dispose` function).  Closing.

[2018-06-14 23:46] #7 closed

[2018-06-14 23:47] pixelzoom commented on #13
+1 to rename `endedEmitter` => `endEmitter`.

[2018-06-14 23:48] pixelzoom commented on #16
Also related to https://github.com/phetsims/twixt/issues/11.

[2018-06-14 23:49] pixelzoom commented on #11
Since Equality Explorer uses TransitionNode, I'd like to see this issue (and the 3 issues created as part of the code review) closed before RC testing begins on 7/11/18.

[2018-06-21 07:13] jonathanolson commented on #11
It looks like #15 has been cleared up also, so I believe it is OK to close.

[2018-06-21 07:13] #11 closed

[2018-08-22 20:10] pixelzoom opened #18 "replace and delete MoveTo and OpacityTo"
`MoveTo` and `OpacityTo` are 2 wrappers around TWEEN.  The idea was to insulate sims from the eventual replacement of TWEEN.   Since we now have animation support in TWIXT (Animation, Easing, etc.) that replaces TWEEN, the time has come to rewrite MoveTo and OpacityTo.

Current usages:

`MoveTo`
- [x] function-builder
- [x] unit-rates
- [x] SCENERY_PHET/Drawer - see phetsims/scenery-phet#396

`Opa

[2018-08-22 20:12] pixelzoom commented on #18
Hmmm... Looking inside `MoveTo` and `OpacityTo`, there's not really much there.  It might make more sense to replace uses of these with `Animation`, and then delete them.

[2018-08-24 17:36] samreid opened #19 "Use stepEmitter/step for driving events"
Chris Malley [10:06 AM]
I’m converting 2 common-code components (Carousel, Drawer) from TWEEN to TWIXT/Animation.  In general, I plan to provide options for the Animation’s `duration` and `stepper`.   Using default `stepper: 'timer'` will result in no changes to sims.  Using default `stepper: 'manual'` will requiring creating/propagating `step` functions in sims.   Opinions on which should be the

[2018-08-24 19:34] samreid commented on #19
I changed Timer.js to use Emitter, and the Emitter is available as Timer.emitter.  The change is pending review in https://github.com/phetsims/phet-core/issues/39, after that @pixelzoom can proceed at his convenience with the proposed strategy above.

[2018-08-24 19:54] pixelzoom commented on #19
The ability to use `PhetCore.Timer.STEP_EMITTER` should be an option in `TWIXT/Animation`,  not something that every UI component needs to deal  (e.g. `PulsatingButton` in https://github.com/phetsims/twixt/issues/19#issue-353869087).

[2018-08-24 21:53] ariel-phet commented on #18
Sounds good, sorry for the delay

[2018-08-24 21:58] pixelzoom commented on #18
Good, because I'm about half done with this :)

[2018-08-24 23:08] pixelzoom commented on #18
All uses of MoveTo and Opacity have been replaced with Animation, and MoveTo and OpacityTo have been deleted.  All usages except one were in my sims.

Assigning to @jonathanolson to review the replacement in capacitor-lab-basics, to decide whether he'd like to use a different variation of the Animation options, and whether to use `stepper: 'timer'`.  Feel free to close after that review.

[2018-08-25 00:33] pixelzoom commented on #18
I just discovered the `object` and `attribute` options for animation targets, and I've used them in the above commits. For translation and opacity, this is much nicer than how I was using `setValue` and `getValue` options.

[2018-09-02 15:02] samreid commented on #19
I changed Timer to extend Emitter.  This issue is on hold until https://github.com/phetsims/phet-core/issues/39 review is complete.  I'll push my proposed changes to Animation to a branch so it is clear what I am recommending for this part.  Note that the `stepper {string}` => `steppedEmitter  {Emitter}` API change will affect other repos, so the branch cannot be merged to master without updating

[2018-09-02 15:02] samreid opened #20 "branch: animation-emitter"
To support https://github.com/phetsims/twixt/issues/19

[2018-09-04 19:12] samreid commented on #19
Now that `timer` extends `Emitter` and that review is complete (see https://github.com/phetsims/phet-core/issues/39#issuecomment-417936587) , I'd like to proceed in changing Animation.js to use `steppedEmitter {Emitter}` with a default value of `PHET_CORE/timer` instead of `stepper {string}` with a default value of `'manual'`.  This will affect several repos that are creating Animation instances o

[2018-09-04 19:15] pixelzoom commented on #19
Recommended to consult with the author of Animation, @jonathanolson, because there are a couple of other values that were proposed for `stepper` that have not been implemented.  From Animation.js:

[code]

[2018-09-06 01:08] jonathanolson commented on #19
Sounds good to me to use `{Emitter|null}` (presumably you'd want to be able to still manually control it).

When I investigate the "animate only when the node's trail is visible on a display", I'll be able to evaluate whether that's feasible and can re-evaluate the API.

[2018-09-06 01:08] jonathanolson commented on #19
Are there any other concerns before moving forward with the changes?

[2018-09-06 01:16] pixelzoom commented on #19
No other concerns, other than who will do the work :)

And I'd like to see common-code UI components (Carousel, Drawer) default to `stepEmitter: PHET_CORE/timer` instead of `stepper: 'manual'`.

[2018-09-06 02:30] samreid commented on #19
I'd like to give it a try, but would need support for review and may need support for sims I'm not familiar with.

Sounds great, I'm planning that Animation will default to `steppedEmitter: PHET_CORE/timer` so UI components won't need to specify this option at all.

[2018-09-10 14:27] samreid commented on #20
I'll track this in #19, unassigning.

[2018-10-28 03:39] samreid commented on #19
I noticed a discrepancy between the proposed option names.  Some of the preceding comments call for `stepEmitter` and some call for `steppedEmitter`.  I'll pick one for now (possibly the former), but we can always change it if necessary.

[2018-10-28 04:13] samreid commented on #19
I made the change with a merge and decided to go with a 3rd name to avoid conflicts with existing option names, to make renaming easy once we settle on a final name.

I've tested sun demo carousel, capacitor lab basics, circuit construction kit, equality explorer sum to zero fade-out, equality explorer step it face animation, expression exchange coin carousel, function builder drawers, hooke's law

[2018-10-28 04:16] samreid commented on #19
I should also point out that this is not the kind of error that Bayes CT fuzz testing would be good at catching, since it would likely result in no animation in a particular spot.  I did look through all `new Animation` and `Animation.call` sites and made sure they looked reasonable though.

[2018-10-28 04:18] samreid commented on #20
Merged, I'll delete this branch and close this issue.

[2018-10-28 04:18] #20 closed

[2018-10-28 12:50] samreid commented on #19
CT had an iteration or two and I don't see any new problems introduced by this change.  @pixelzoom can you please review at your convenience?  Also, can you please recommend a name for this option?  Please note that `animationStepEmitter` (the current name) occurs 25 times in our repos, `stepEmitter` occurs elsewhere 57 times and `steppedEmitter` appears elsewhere 3 times.

[2018-10-31 16:24] pixelzoom commented on #19
I don't understand why you did this.  The other cases where `stepEmitter` or `steppedEmitter` are used have nothing to do with Animation, and they are clearly Emitters.   Are you inferring that using the same name across the entire code base is undesirable.

The name of the Animation option should be `stepEmitter`.

[2018-11-01 01:43] samreid commented on #19
I used `animationStepEmitter` (unique) so that when we decided on the final name, we could query replace all 25 occurrences across 7 files fully automatically.  I'll rename to `stepEmitter` now.

[2018-11-01 01:46] samreid commented on #19
Rename complete.  @pixelzoom anything else to do for this review?

[2018-11-01 03:31] samreid commented on #19
@jonathanolson pointed out a missed case for the Animation stepEmitter option in https://github.com/phetsims/function-builder/issues/120#issuecomment-434917534, self-assigning to double check the other occurrences.

[2018-11-01 16:13] pixelzoom commented on #19
Looks good.  Feel free to close after addressing https://github.com/phetsims/twixt/issues/19#issuecomment-434919590.

[2018-11-14 00:49] samreid commented on #19
I tested through the `new Animation` occurrences and all sites seemed correct.  I also tested usages of `Drawer` and `Carousel`.  I tested through usages of `TransitionNode` and didn't see anything amiss.  Hopefully if I've missed something it will be caught by dev or QA.  Closing.

[2018-11-14 00:49] #19 closed

[2019-01-05 02:56] pixelzoom opened #21 "duplicated ComboBox in demo app"
Duplicated in AnimationView and TransitionDemoView, and therefore had to be addressed twice for https://github.com/phetsims/twixt/commit/bc648b367a3c6f5ab39624fdd3fb8ea2c4a42df7:

[code]

Assigning to @jonathanolson to address, since he created both copies.

[2019-01-05 05:01] jonathanolson commented on #21
Can you recommend an improvement over the duplication? I'm not particularly inclined to add English strings to each Easing object.

[2019-01-07 19:12] pixelzoom commented on #21
@jonathanolson see previous commit.

[2019-01-08 16:11] jonathanolson commented on #21
Looks good, thanks for handling that!

[2019-01-08 16:39] #21 closed

[2019-03-29 14:40] pixelzoom opened #22 "Easing: duplicated assertion with no message"
CT recently reported a transient failure of this assertion in `Easing`:

[code]

There's no assertion message, so no idea what was wrong with `t` that made this fail.  And this same assertion expression is repeated 9 times.

TODO: factor out the expression and add a message.

@jonathanolson FYI.

[2019-03-29 14:43] pixelzoom commented on #22
Doc for the `t` parameter is also not helpful, does not describe what it is:

[code]

[2019-03-29 14:47] pixelzoom commented on #22
Doc at the top of the file says "These should be equivalent to the polynomial tweens that TWEEN.js uses."  Plowing through TWEEN.js website, I finally found [Ease documentation](https://www.createjs.com/docs/tweenjs/classes/Ease.html#method_quartIn):

[code]

[2019-03-29 14:51] pixelzoom opened #23 "add unit tests for Easing"
In Easing.js:

` * TODO: unit tests.`

[2019-03-29 14:55] pixelzoom opened #24 "why is Easing a type?"
`Easing` is currently a collection of static methods and constants.  It's constructor does nothing and it has no state:

[code]

Why is it a type?

[2019-03-29 15:00] pixelzoom commented on #22
I factored out `tIsValid`:

[code]

And the 9 assertions now look like:

[code]

No unit tests (see #23) so I tested a few sims that use `Easing`.

@jonathanolson please review.

[2019-03-29 15:08] pixelzoom commented on #18
Review of capacitor-lab-basics by @jonathanolson is moved to https://github.com/phetsims/capacitor-lab-basics/issues/252, so that this issue can be closed.

[2019-03-29 15:08] #18 closed

[2019-03-29 15:09] pixelzoom commented on #23
Unit tests would have been nice to have for the work I did in #22.

Assigning to @ariel-phet to prioritize and assign.

[2019-03-29 15:10] pixelzoom commented on #3
It's been over a year now.  Which items in https://github.com/phetsims/twixt/issues/3#issuecomment-365839043 have been done, and which still remain to do?

[2019-03-29 15:12] pixelzoom commented on #3
@ariel-phet looking at the issues that are currently open in twixt, they are all related to this issue in someway.  We have a nice prototype that we took almost to the finish line, started using it in production code, then failed to finish.  Should we investigate what's needed to resolve these issues?

[2019-04-04 18:14] jonathanolson commented on #24
I had it as a type because it essentially defines three abstract methods. I'm open to recommendations for changes.

Should it take the 3 methods as constructor parameters? Should it just be POJOs and the method documentation could be moved to the top of the file?

[2019-04-08 19:04] pixelzoom commented on #24
This is a bizarre pattern you're using here. You have an abstract base type. You instantiate that abstract base type, which is antithetical to the whole notion of "abstract".   Then you morph the abstract instances into concrete instances using assignment.  And if I were to inspect instances of `Easing` in the debugger, they are liable to have different implementations of the abstract methods.

I'

[2019-04-08 19:35] jonathanolson commented on #24
I agree it's a bit weird, and I'm happy to change it. What would you recommend instead?

[2019-04-08 22:37] pixelzoom commented on #18
There are a bunch of sims that are still preloading Tween via something like this in their package.json:

[code]

I've create sim-specific issues for each such sim.

[2019-04-10 16:54] pixelzoom commented on #24
[code]

[2019-04-18 02:17] ariel-phet commented on #23
Going to look for a volunteer at dev meeting :cat:

[2019-05-09 16:58] oliver-phet commented on #23
@Denz1994 is volunteering! 🐱

[2019-05-26 23:52] pixelzoom opened #25 "help needed with Animation config.to"
`Animation` uses the `config` pattern, and it's documentation says:

[code]

After having to look through the entire source code for `config` fields (which is what I really despise about the `config` pattern in general), I can find no reference to `config.to` anywhere in `Animation`.

@jonathanolson can you please point me to where `config.to` is documented in `Animation`?

[2019-05-26 23:55] pixelzoom commented on #25
Answered my own question.

[code]

So I guess that all  `AnimationTarget` `config` fields are fair game to put directly into `Animation` `config`.    Seems like a big price to pay for that convenience.

[2019-05-26 23:55] #25 closed

[2019-05-28 20:40] pixelzoom opened #26 "problems with Animation.then"
I ran into this in Gas Properties, where I'm working around it, but it's not pretty.

The API for `Animation.then` needs to be reexamined.  Specifically:

* `animation = new Animation(...).then(...).then(...)` returns the last Animation in the chain, so `animation.start` only runs the last Animation in the chain.  Probably not what was planned.

* There is no way support for stopping a chained set

[2020-01-08 18:15] pixelzoom opened #27 "Animation fails with duration:0"
If an Animation is created and run with `duration: 0`, it fails with `NaN` due to a divide-by-zero error.

This was the cause of https://github.com/phetsims/unit-rates/issues/215.  In Unit Rates, there's an animation that moves a marker along the number line, based on the number that's entered into a keypad.

Here's the Animation definition in DoubleNumberLineAccordionBox:

[code]

If a value that

[2020-01-09 17:55] jonathanolson commented on #27
I'll lean towards (b) unless it seems unworkable in the code. Thanks for spotting!

[2020-01-09 17:59] jonathanolson commented on #27
Implemented (b) above.

[2020-01-09 18:07] pixelzoom commented on #27
I tested this by removing the workaround in phetsims/unit-rates#215.  Seems to work great.  Thanks, closing.

[2020-01-09 18:07] #27 closed

[2020-02-24 21:00] pixelzoom commented on #22
It's been almost 1 year since a review was requested. So I'm going to just go ahead and close this.

[2020-02-24 21:00] #22 closed

[2020-03-19 19:34] mattpen opened #28 "Twixt error during translation build, possibly fatal"
[code]

There are two errors that have recurred three times in the past week for the fa build of expression-exchange.  One of the errors appears to be twixt related.  We should investigate why this error is getting thrown.

@ariel-phet - I'm not sure who should be assigned here.

[2020-03-26 16:20] ariel-phet commented on #28
assuming this will be @jbphet (if sim specific) or @jonathanolson (if twixt specific). Putting up on developer meeting to get a quick assignee.

[2020-03-26 16:33] mattpen commented on #28
This was addressed in https://github.com/phetsims/expression-exchange/issues/144

[2020-03-26 16:33] #28 closed

[2020-11-04 23:04] ariel-phet commented on #26
This issue has just not been a priority for the project. Deferring

[2021-01-15 00:11] ariel-phet commented on #3
Marking for developer meeting. It would be good for @kathy-phet to weigh in on priority for this issue.

[2021-02-04 20:34] zepumph commented on #3
We discussed this today during developer meeting.

The lowest priority for @jonathanolson  is that there are two sims that still use this, but the devs felt more like cleaning up TWEEN

The next highest priority is to work on this issue's features. But we feel like this priority is low until a sim that's being worked on needs these features. Unmarking for dev meeting.

[2021-03-03 21:57] pixelzoom opened #29 "Cannot animate Node opacityProperty"
In Fourier's _Wave Game_ screen, I am trying to do something that is quite common in PhET games, and I would suspect is quite common in many animation situations. I'm trying to animate a Node's opacity.  When a challenge is correctly answered, I want to show a smily face (FaceNode), then fade it out by changing its opacity.  I'm using Animation to do the fade.

In previous sims, I've created my ow

[2021-03-03 22:55] jonathanolson commented on #29
@pixelzoom thoughts on explicitly including `TinyProperty` as allowed until we get the hierarchy set up nicely?

[2021-03-03 23:01] pixelzoom commented on #29
I'm fine with explicitly including TinyProperty, as long as it supports everything needed by AnimationTarget.  I'm not familair with what parts of the Property API are required.

[2021-03-03 23:24] jonathanolson commented on #29
I checked over, it's just get/set and TinyProperty should be fully compatible. Implemented above, feel free to take it for a spin.

[2021-03-03 23:34] pixelzoom commented on #29
This assertion in AnimationTarget is not sufficient:

[code]

You also need to verify that `config.property.isSettable()`.  If I pass in a DerivedProperty, the assertion will pass, and it's going to fail in `PROPERTY_SET`.

[2021-03-04 17:41] jonathanolson commented on #29
Done above.

[2021-03-04 18:07] pixelzoom commented on #29
Thanks, I'll take it for a spin in Fourier.

[2021-03-06 16:20] pixelzoom commented on #29
Works great in Fourier, thanks, closing.

[2021-03-06 16:20] #29 closed

[2021-05-28 19:50] pixelzoom opened #30 "TransitionNode should set focus when it completes a transition."
For https://github.com/phetsims/fourier-making-waves/issues/53, and as noted in https://github.com/phetsims/vegas/issues/90#issuecomment-850636738:

If a Node has no `pDomOrder`, TransitionNode will do nothing.

@jessegreenberg FYI.

[2021-05-29 02:45] pixelzoom commented on #30
This got complicated really quickly.  In Fourier, TransitionNode is used like this in WaveGameScreenView.js:

[code]

`levelsParent` has 5 children, 1 for each game level (WaveGameLevelNode).  One of them is visible, based on which level-selection button was pressed.  So TransitionNode knows only about `levelsParent`, so it can reach down and set focus for the Back button of the WaveGameLevelNode

[2021-05-29 02:50] pixelzoom commented on #30
I also discovered that TransitionNode has this option:

[code]

So in the above commit, I tried adding both of my Nodes to `cachedNodes`:

[code]

When transitioning from `levelSelectionNode` to `levelsParent`, I can now press tab and the Back button gets focus (instead of the navbar).   This is a minor improvement.

But when transitioning from `levelsParent` to `levelSelectionNode`, pressing tab

[2021-05-29 03:11] pixelzoom commented on #30
I tried a few other things here (in Fourier code) and got nowhere. I'm stumped, and will need to pair with @jessegreenberg on this.

[2021-06-02 02:22] jessegreenberg commented on #30
One thing we could do is use PDOMUtils.getNextFocusable() to move focus to the first focusable element at the end of the transition.
<details><summary>Use PDOMUtils.getNextFocusable</summary>

[code]
</details>

[2021-06-07 15:57] pixelzoom commented on #30
I tested the approach proposed in https://github.com/phetsims/twixt/issues/30#issuecomment-852662036, and it works nicely.  Two concerns:

(1) It's looks a little klunky to me. Maybe not an issue, but is setting `Display.focus` directly a good idea? Seems like it would be better to have a PDOMUtils method for that.  And I don't understand how `PDOMUtils.getNextFocusable().focus()` works in this co

[2021-06-08 16:43] pixelzoom commented on #30
There's currently no way to do this.  The TransitionNode API does not make `transition` public.  The client provides `transition` if they call `startTransition` directly.  But the convenience methods (`slideLeftTo`, etc.) create it, and it remains private.

[2021-06-08 18:16] pixelzoom commented on #30
I take that back. `startTransition` and the convenience methods return the Transition.

[2021-06-08 18:48] pixelzoom commented on #30
I'm not sure what the general focus behavior should be for TransitionNode, or whether it should even be responsible for focus. And I think it would be preferrable for the a11y team to discuss and address.

So in the meantime, I'm going to investigate a sim-specific solution in Fourier, to meet the behavior requirements described in https://github.com/phetsims/vegas/issues/90#issuecomment-854034816